<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
</head>

<body>

    <b>Welcome to Java Developer Course!</b>
    <h1 align="center" style="color: blue;">HTML Review</h1>
    <h2>HTML Review</h2>
    <h3>HTML Review</h3>
    <h4>HTML Review</h4>

    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" width="104" height="142">

    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>

    <a href="https://www.w3schools.com">Visit W3Schools.com!</a>

    <p>My first paragraph.</p>

    <table border="1">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>
    <br>
    <label>First Name:</label>
    <input type="text" name="firstname">
    <br>
    <label>Last Name</label>
    <input type="password" name="lastname">
    <br>
    <textarea rows="4" cols="50">
        At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
    </textarea>

    <label>Please select your gender</label>
    <input type="radio" name="gender" value="male">Male
    <input type="radio" name="gender" value="female">Female
    <input type="radio" name="gender" value="other">Other
    <br>
    <label>Please select your courses</label>
    <input type="checkbox" name="course" value="java">Java
    <input type="checkbox" name="course" value="python">Python
    <input type="checkbox" name="course" value="c#">C#
    <br>

    <label>Select Your Program:</label>
    <br>
    <select>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="c#">C#</option>
    </select>
    <br>

    <form action="#" method="get">

        Firstname: <input type="text" name="firstname"><br>
        Lastname: <input type="text" name="lastname"><br>
        <input type="submit" value="Submit">

    </form>

    <div style="background-color: aqua;">
        <p>My first paragraph.</p>
        <h3>Courses</h3>
        <ul>
            <li>Java</li>
            <li>Python</li>
            <li>C#</li>
        </ul>
    </div>

</body>

</html>